# Ignore doc build 
deployr-cli-doc/

# Ignore extensions
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~

# Ignore OS or Editor folders
._*
.cache
.DS_Store
.project
.settings
.idea
.tmproj
*.esproj
*.sublime-workspace
*.sublime-project

# Ignore node
node_modules/
npm-debug.log

# Ignore any examples
java-example-fraud-score/
js-example-fraud-score/